Package: sixarm-debian-mysql-packages
Version: 1.0.2
Section: devel
Priority: optional
Architecture: all
Depends: mysql-server, mysql-common, mysql-client, mytop, libdbd-mysql-perl, libmysqlclient-dev, libmysql-ruby, php5-mysql, python-mysqldb
Maintainer: Joel Parker Henderson <joel@sixarm.com>
Description: MySQL packages we like to use
 MySQL packages we like to use together.



